.batsman *, .bowler *{
  border: none !important;
}
.ball{
  border-radius: 50% !important;
}
.backButton:hover,.startMatch:hover
{
    background-color: white;
    color: black;
    border-color: black;
}
.proceedButton:hover
{
    border-color: white;
}
.dropdownList
{
    background-color:rgb(161, 161, 250);
    width:50%;
    height: 2rem;
    font-weight:600;
}
.playerInput
{
    font-weight:bold;
}
#teamOneTitle,#teamTwoTitle
{
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.4em;
  margin-right:0.4em;
}
.player-list{
  list-style-type:none;
}
.player-list>span{
  border:1px solid darkblue;
  color: red;
  border-radius:50%;
  padding-bottom: 5px !important;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.extras-input{
  max-width:4rem;
  border:none;
  border-bottom:1px solid black !important;
}
.extras-input:focus{
  outline:none;
  border-bottom:1px solid black !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

